.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: var(--margin-r) 0;
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius-r);
    transition: .25s;
}

.acordeon.open,
.acordeon:hover {
    background-color: var(--bg-color-hover-acordeon);
    border-color: var(--border-color-hover-acordeon);
}

.acordeon .trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-bold);
    padding: var(--padding-r) var(--padding-l);
    background-color: transparent;
    color: var(--text-color);
    border: none;
}

.acordeon .trigger h2 {
    margin: 0;
    font-size: var(--font-size-l);
    text-align: start;
}

.acordeon .trigger:hover {
    cursor: pointer;
}

.acordeon .trigger::after {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/arrow-top.svg');
    transition: .25s;
}

.acordeon.open .trigger::after {
    transform: rotate(180deg);
}

.acordeon .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.acordeon.open .content {
    display: block;
    padding: 0 var(--padding-r) var(--padding-r) var(--padding-l);
    height: auto;
    opacity: 1;
}