:root {
    font-size: 16px;
    --font-title: 'Neue Machina', sans-serif;
    --font-text: 'Open Sans', sans-serif;

    --font-size-l: 1.5rem;
    --font-size-xm: 1.25rem;
    --font-size-m: 1.125rem;
    --font-size-r: 1rem;

    --font-weight-bold: 700;

    --bg-color: #262626;
    --text-color: #ffffff;

    --bg-color-hover-acordeon:#55569E;
    --border-color-hover-acordeon: #55569E;

    --margin-l: 2rem;
    --margin-r: 1rem;
    --margin-s: .5rem;

    --padding-l: 2rem;
    --padding-r: 1rem;
    --padding-s: .5rem;

    --gap-r: 1rem;

    --border-radius-r: 1rem;

}

* {
    box-sizing: border-box;
    font-family: var(--font-text);
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/neue-machina-regular.otf');
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main {
    margin: var(--margin-r);
    padding: var(--padding-r);
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius-r);
}

.main::before,
.main::after {
    content: '';
    background-image: url('../img/background.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 140vw;
    height: 100vh;
    z-index: -1;
}

.main::after {
    content: '';
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}


@media only screen and (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: var(--margin-r) auto;
    }

    .main::before,
    .main::after {
        width: 70vw;
    }
}