.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: var(--margin-r) 0;
}

.portfolio li h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--font-size-xm);
    font-weight: var(--font-weight-bold);
    margin: 0;
    margin-bottom: var(--margin-s);
}

.portfolio li h3.github::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/github.svg');
    margin-right: var(--margin-s);
}